/* global classes */
body {
  font-family: 'PT Sans', sans-serif;
}


.container {
  padding-top: 10px;
  padding-bottom: 10px;
}


/* Police - size  - titre - text ... */
.text-menu {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  line-height: 1.2;
}

.title {
  font-size: 70px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  text-shadow: 0px 1px #4A494C;

}

.text {
  font-size: 17px;
  text-align: center;
  font-weight: bold;
  line-height: 1.2;
}

.gallery-title {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  line-height: 1.2;
  color: grey;
  padding: 0px;
}

.competence-title {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 40px;
}


/* navbar */
.navbar {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
  font-weight: bold;
  position: relative;
}

.navbar a:link,
.navbar a:visited {
  color: white;
}

.navbar.black a:link,
.navbar.black a:visited {
  color: black;
}

.navbar.grey a:link,
.navbar.grey a:visited {
  color: grey;
}

.elem-nav-grey a:hover{
  color: black !important;
}

.elem-nav {
  display: inline;
  padding: 45px;
}

.elem-nav-grey {
  display: inline;
  padding: 25px;
}

/* logo */
.logo-white {
  width: 50px;
  position: absolute;
  top: 20px;
  left: 40px;
}
.logo-black {
  width: 50px;
  position: absolute;
  top: 20px;
  left: 40px;
}

/* Header */

.header-homepage {
  background-image: url("../Images/Pages de garde/fond.jpg");
  width:100%;
  height: 900px;
}

.thomas-picture{
  background-image: url("../Images/Pages de garde/thomas.png");
  position: absolute;
  width: 295px;
  height: 795px;
  top: 105px;
  left: 50%;
  transform: translate(-50%, 0);
}

.TitreJS {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  width: 100%;
}


/* menu-travaux */

.slide-one {
  padding-top: 80px;
  padding-bottom: 80px;
}

.gallery-img .img-menudemi, .gallery-img .img-menutiers{
  display: inline-block;
}


.img-menu{
  width: calc(100% - 4px);
  height: auto;
  padding: 2px;
}
.img-menudemi {
  width: calc((100%/2) - 4px);
  height: auto;
  padding: 2px;
  opacity: 1.0;
  position: relative;
}
.img-menutiers {
  width: calc((100%/3) - 4px);
  height: auto;
  padding: 2px;
  opacity: 1.0;
  position: relative;
}

.img-menudemi:hover  .white-bg,
.img-menutiers:hover  .white-bg {
  opacity: 0.5;
}

.img-menudemi:hover .hover-skills,
.img-menutiers:hover .hover-skills {
  opacity: 1;
}

/* menu compétences */
.img-competences {
  width: 40px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.slide-three {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: baseline;
}


.blockcomp {
  width: calc((100%/3) - 5px);
  height: auto;
  padding: 20px;
}

.hover-skills {
  position: absolute;
  top : 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-shadow: 0px 1px #4A494C;
}

.white-bg {
  position: absolute;
  top : 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}


/* à propos de moi */
.aproposdemoi {
  display: flex;
  background-image: url("../Images/Pages de garde/proposdemoi.jpg");
  background-position: center 0px;
  background-repeat: no-repeat;
  width: 100%;
  height: 920px;
  flex-direction: column;
  justify-content:center;
  color: white;
}
/* CONTACT */
.contact {
  display: flex;
  flex-direction: row;
  justify-content:center;
}

.projetrea{
  display: flex;
  flex-direction: row;
  background-image: url("../Images/Pictogrammes/logotl.png");
  background-size: 400px;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content:center;
  width: calc((100%/2) - 40px);
  height: auto;
  padding: 20px;
}

.formulairecontact{
  width: calc((100%/2) - 40px);
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content:center;
}


/* reseaux sociaux */

.reseauxsociaux {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: flex-end;
  padding-top: 50px;
}

.pictoreseauxsociaux {
  width: 40px;
  height: auto;
  padding: 5px;
}
.signature{
  font-size: 10px;
  text-align: center;
  color: grey;
  padding: 10px;
}

/* WEBSITE */

.WEBSITE{
  background-image: url("../Images/Gallerie/Accueil/1.jpg");
  background-position: center 0px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 920px;
  padding: 0px;
}

.gallery-website {
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.img-website1 {
  left: 400px;
  top: 1300px;
  width: calc(100%/1.5);
  padding: 5px;
  position:absolute;
}
.img-website2 {
  left: 55px;
  top: 1600px;
  width: calc(100%/1.5);
  padding: 5px;
  position:absolute;

}

.img-website3 {
  left: 450px;
  top: 1860px;;
  width: calc(100%/1.5);
  padding: 5px;
  position:absolute;
}
.img-website4 {
  left: 50px;
  top: 2130px;
  width: calc(100%/1.5);
  padding: 5px;
  position:absolute;
}



/* APPLICATION */

.APPLICATION {
  background-image: url("../Images/Gallerie/Accueil/2.jpg");
  background-position: center 0px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 920px;
  padding: 0px;
}

.devapplication {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.elem-application {
  width: calc((100%/2) - 5px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}

.blockapp {
  width: 100%;
  height: calc(100%/3);
  display: flex;
  flex-direction: column;
  justify-content: space-center;
  padding: 55px;
  text-align:space-center;
}

.picto-application {
  width: 40px;
  margin: 0 auto;
  padding-bottom: 40px;
}


/* ALBUM */

.ALBUM {
  background-image: url("../Images/Gallerie/Accueil/3.jpg");
  background-position: center 0px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 920px;
  padding: 0px;
}
/* AFFICHE */

.AFFICHE-DOUR {
  background-image: url("../Images/Gallerie/Accueil/4.jpg");
  background-position: center 0px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 920px;
  padding: 0px;
}

/* VETEMENTS */

.VETEMENTS {
  background-image: url("../Images/Gallerie/Accueil/5.jpg");
  background-position: center 0px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 920px;
  padding: 0px;
}
/* Jeu de société */

.Jeu-de-societe{
  background-image: url("../Images/Gallerie/Accueil/6.jpg");
  background-position: center 0px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 920px;
  padding: 0px;
}
