/* global classes */
body {
    font-family: 'PT Sans', sans-serif;
}

.container {
    padding-top: 10px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 10px;
}


/* Police - size  - titre - text ... */
.text-menu {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    line-height: 1.2;
}

.title {
    font-size: 70px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.text {
    font-size: 17px;
    text-align: center;
    font-weight: bold;
    line-height: 1.2;
}

.galerie-title {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    line-height: 1.2;
    color: grey;
    padding: 0px;
}

.competence-title {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    color: black;
    padding-bottom: 40px;
}

/* navbar */
.navbar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    font-weight: bold;
    position: relative;
}

.navbar a:link,
.navbar a:visited {
    color: white;
}

.navbar.black a:link,
.navbar.black a:visited {
    color: black;
}

.navbar.grey a:link,
.navbar.grey a:visited {
    color: grey;
}

.elem-nav {
    display: inline;
    padding: 45px;
}

.elem-nav-grey {
    display: inline;
    padding: 25px;
}

/* logo */
.logo-white {
    width: 50px;
    position: absolute;
    top: 20px;
    left: 40px;
}
.logo-black {
    width: 50px;
    position: absolute;
    top: 20px;
    left: 40px;
}

/* Header */

.header-pagegarde {
    background-image: url("../Images/Pages de garde/accueil.jpg");
    background-position: center 0px;
    background-repeat: no-repeat;
    width: 100%;
    height: 920px;
}

.TitreJS {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    width: 100%;

}

/* menu-travaux */

.head {
    padding-top: 40px;
    padding-left: 170px;
    padding-right: 170px;
    padding-bottom: 30px;
}

.galerie-img .img-menudemi, .galerie-img .img-menutiers{
    display: inline-block;
}

.ligne {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 2px;
}

.img-menu{
    width: calc(100% - 4px);
    height: auto;
    padding: 2px;
}
.img-menudemi {
    width: calc((100%/2) - 4px);
    height: auto;
    padding: 2px;
}
.img-menutiers {
    width: calc((100%/3) - 4px);
    height: auto;
    padding: 2px;
}


/* menu compétences */
.img-competences {
    width: 40px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.lignecomp {
    text-align: center;
}

.blockcomp {
    width: calc((100%/3) - 5px);
    height: auto;
    padding: 20px;
    display: inline-block;
}



/* à propos de moi */
.aproposdemoi {
    display: flex;
    background-image: url("../Images/Pages de garde/proposdemoi.jpg");
    background-position: center 0px;
    background-repeat: no-repeat;
    width: 100%;
    height: 920px;
    flex-direction: column;
    justify-content:center;
    color: white;
    padding-left: 150px;
    padding-right: 150px;
}
/* CONTACT */
.contact {
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding: 100px;
}

.projetrea{
    background-image: url("../Images/Pictogrammes/logotl.png");
    background-size: 400px;
    background-position: center;
    background-repeat: no-repeat;
    width: calc((100%/2) - 40px);
    height: auto;
    padding: 20px;
}

.formulairecontact{
    width: calc((100%/2) - 40px);
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content:center;
}


/* reseaux sociaux */

.reseauxsociaux {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: flex-end;
    padding: 10px;
}

.pictoreseauxsociaux {
    width: 40px;
    height: auto;
    padding: 5px;
}
.signature{
    font-size: 10px;
    text-align: center;
    color: grey;
    padding: 10px;
}

/* WEBSITE */

.WEBSITE{
    background-image: url("../Images/Gallerie/Accueil/1.jpg");
    background-position: center 0px;
    background-repeat: no-repeat;
    width: 100%;
    height: 920px;
    padding: 0px;
}
/* APPLICATION */

.APPLICATION {
    background-image: url("../Images/Gallerie/Accueil/2.jpg");
    background-position: center 0px;
    background-repeat: no-repeat;
    width: 100%;
    height: 920px;
    padding: 0px;
}

.devapplication {
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding-left: 150px;
    padding-right: 150px;
}

.element-application {
    width: calc((100%/4) - 5px);
    height: auto;
    padding: 20px;
    display: inline-block;

}

/* ALBUM */

.ALBUM {
    background-image: url("../Images/Gallerie/Accueil/3.jpg");
    background-position: center 0px;
    background-repeat: no-repeat;
    width: 100%;
    height: 920px;
    padding: 0px;
}
/* AFFICHE */

.AFFICHE-DOUR {
    background-image: url("../Images/Gallerie/Accueil/4.jpg");
    background-position: center 0px;
    background-repeat: no-repeat;
    width: 100%;
    height: 920px;
    padding: 0px;
}

/* VETEMENTS */

.VETEMENTS {
    background-image: url("../Images/Gallerie/Accueil/5.jpg");
    background-position: center 0px;
    background-repeat: no-repeat;
    width: 100%;
    height: 920px;
    padding: 0px;
}
/* Jeu de société */

.Jeu-de-societe{
    background-image: url("../Images/Gallerie/Accueil/6.jpg");
    background-position: center 0px;
    background-repeat: no-repeat;
    width: 100%;
    height: 920px;
    padding: 0px;
}
