---
layout: default
---
<!-- header-->
<section class="header-homepage">
  {% include navbar.html logo="white"%}
  <div class="thomas-picture">
  </div>
  <div class="titre-fadein headtext-one">
GRAPHIC  </div>
  <div class="titre-fadein headtext-two">
     DESIGNER
  </div>
  <div class="titre-fadein headtext-three">
    THOMAS LAMMENS
  </div>

</section>


<!-- TRAVAUX-->
<div class="container">
  <section class="grid-x slide-one">
    <div class="small-12 cells title">
      TRAVAUX
    </div>
    <div class="small-12 cells text">
      Au cours des ces dernières années, j’ai acquis une certaine expérience qui me permet aujourd’hui de vous présenter mon
    </br>site web portfolio. Vous y trouverez une compilation de toutes mes réalisations. Du print au web, mon
  </br>graphisme s’adapte à tout support multimédia.
</div>
</section>
</div>
<div class="container">
  <section class="gallery">
    <div class="navbar grey">
      <div class="elem-nav grey cool-link">
        <a href="#" target="_blank">TOUT</a>
      </div>
      <div class="elem-nav grey cool-link">
        <a href="#" target="_blank">CREATION GRAPHIQUE</a>
      </div>
      <div class="elem-nav grey cool-link">
        <a href="#" target="_blank">DESIGN WEB</a>
      </div>
      <div class="elem-nav grey cool-link">
        <a href="#" target="_blank">DESIGN MOBILE</a>
      </div>
      <div class="elem-nav grey cool-link">
        <a href="#" target="_blank">CREATION AUDIOVISUELLE</a>
      </div>
      <div class="elem-nav grey cool-link">
        <a href="#" target="_blank">PHOTOGRAPHIE</a>
      </div>
    </div>
  </section>

  <!-- gallerie---->


  {% include galeriecompetences.html %}


  <!-- COMPÉTENCES-->
  <div class="grid-x align-center align-middle galerie-img">
    <div class="title">
      COMPÉTENCES
    </div>
    <div class="grid-x align-center align-middle">
      <div class="cell small-8 slide-three">
        <div class="blockcomp">
          <div class="img-competences">
            <img alt="img" src="Images/Pictogrammes/creationgraphique.png">
          </div>
          <div class="competence-title">CRÉATION GRAPHIQUE
          </div>
          <div class="text">
            <p>Création graphique d’une identité visuelle sur papier ou sur le web : logo ou tout concept graphique.</p>
          </div>
        </div>
        <div class="blockcomp">
          <div class="img-competences">
            <img alt="img" src="Images/Pictogrammes/designweb.png">
          </div>
          <div class="competence-title">DESIGN WEB
          </div>
          <div class="text">
            Création d'interfaces de sites web, intégrations de contenus multimédias, graphisme, ergonomie, prototypage.
          </div>
        </div>
        <div class="blockcomp">
          <div class="img-competences">
            <img alt="img" src="Images/Pictogrammes/designmobile.png">
          </div>
          <div class="competence-title">DESIGN MOBILE
          </div>
          <div class="text">
            Création de l’identité d’une application mobile : du graphisme à l’ergonomie et de la stratégie digital à la communication.
          </div>
        </div>
        <div class="blockcomp">
          <div class="img-competences">
            <img alt="img" src="Images/Pictogrammes/creationaudiovisuelle.png">
          </div>
          <div class="competence-title">
            CRÉATION AUDIOVISUELLE
          </div>
          <div class="text">
            Création graphique d’une identité visuelle sur papier ou sur le web : logo ou tout concept graphique.
          </div>
        </div>
        <div class="blockcomp">
          <div class="img-competences">
            <img alt="img" src="Images/Pictogrammes/photographie.png">
          </div>
          <div class="competence-title">
            PHOTOGRAPHIE
          </div>
          <div class="text">
            Réalisation de photographies lors de festivals, mariages, expositions ou en studio. Demande de clichés pour le web.
          </div>
        </div>
      </div>
    </div>

    <!-- à propos de moi-->

    <section class="aproposdemoi">
      <div class="grid-x align-center align-middle">
        <div class="cell small-8">
          <div class="title">
            À PROPOS DE MOI
          </div>
          <div class="text">
            Je suis étudiant à l’ISFSC en Écriture Multimédia. L’école forme en 3 ans des concepteurs et gestionnaires de projets multimédias capables d’imaginer, conceptualiser et scénariser des contenus pertinents et interactifs sur des supports numériques, grâce à la maîtrise de connaissances et de techniques spécifiques. Je me suis spécialisé dans le graphisme parce que c’est un domaine créatif et visuel. Comme un artiste sur une toile de peinture, on peut exprimer toute sa créativité. Je suis ouvert à toute proposition, n’hésitez pas à me contacter.
          </div>
        </div>
      </div>
    </section>

    <!-- CONTACT-->
    <section class="contact">
      <div class="projetrea">
        <div class="title">
          UN PROJET À RÉALISER ?
        </div>
        <div class="text">
          Envie d’un de mes services pour l’un de vos projets ? Contactez-moi ! Je travail comme freelance ce qui m’offre une grande flexibilité. Expliquez clairement les délais, la nature du projet et la ligne graphique souhaitée. Vous recevrez une réponse dans les plus brefs délais.
        </div>
      </div>
      <div class="formulairecontact">
        <form method="POST" netlify>
          <div class="form-element">
            <label for="fname">NOM</label>
            <input id="NOM" name="NOM" placeholder="NOM" type="text">
          </div>
          <div class="form-element">
            <label for="lname">EMAIL</label>
            <input id="EMAIL" name="EMAIL" placeholder="EMAIL" type="text">
          </div>
          <div class="form-element">
            <label for="subject">MESSAGE</label>
            <textarea id="MESSAGE" name="MESSAGE" placeholder="MESSAGE" style="height:200px"></textarea>
          </div>

          <div class="form-element">
            <input type="submit" value="ENVOYER">
          </div>
        </form>
      </div>
    </section>
