<section class="grid-x align-center align-middle galerie-img">
  <section class="slide-gallery">

    <section class="content img-menudemi">
      <a href="/travaux/website.html/" class="img-menudemi"></a>
      <div class="content-overlay"></div>
      <img alt="content img-menu" src="Images/Pages de garde/website.jpg">
      <div class="content-details fadeIn-top">
        <h3>Sites web</h3>
        <p>Inwild, Capture, Dratel & le Musée de la gourmandise</p>
      </div>
    </section>
  </section>

  <section class="content img-menudemi">
    <a href="/travaux/application.html/" class="img-menudemi"></a>
    <div class="content-overlay"></div>
    <img alt="content-image img-menu" src="Images/Pages de garde/application.jpg">
    <div class="content-details fadeIn-top">
      <h3>Application</h3>
      <p>Capture</p>
    </div>
  </section>
</section>

<section class="slide-gallery">

  <section class="content img-menutiers">
    <a href="/travaux/album.html/"><img class="img-menutiers"></a>
    <div class="content-overlay"></div>
    <img alt="content-image img-menu" src="Images/Pages de garde/album.jpg">
    <div class="content-details fadeIn-top">
      <h3>Album</h3>
      <p>Rhyle</p>
    </div>
  </section>

  <section class="content img-menutiers">
    <a href="/travaux/affiche.html/"><img class="img-menutiers"></a>
    <div class="content-overlay"></div>
    <img alt="content-image img-menu" src="Images/Pages de garde/affiche.jpg">
    <div class="content-details fadeIn-top">
      <h3>Affiche</h3>
      <p>Dour 28e Édition & Capture </p>
    </div>
  </section>

  <section class="content img-menutiers">
    <a href="/travaux/vetement.html"><img class="img-menu"></a>
    <div class="content-overlay"></div>
    <img alt="content-image img-menu" src="Images/Pages de garde/vetement.jpg">
    <div class="content-details fadeIn-top">
      <h3>Vêtements</h3>
      <p>Dour 28e Édition, l’organisme du Scoutisme & un groupe de skieurs</p>
    </div>
  </section>
</section>

<section class="slide-gallery">

  <section class="content img-menudemi">
    <a href="/travaux/game.html"><img class="img-menu"></a>
    <div class="content-overlay"></div>
    <img alt="content-image img-menu" src="Images/Pages de garde/game.jpg">
    <div class="content-details fadeIn-top">
      <h3>Jeu de société</h3>
      <p>Ulysse et le chant des sirènes</p>
    </div>
  </section>
</section>
