<container class="grid-x align-center align-middle galerie-img">
  <div class="cell small-8">
    <div class="img-menudemi">
      <a href="https://quizzical-nightingale-b726ec.netlify.com/travaux/website.html"><img alt="img-menu" src="Images/Pages de garde/website.jpg"></a>
      <div class="white-bg"></div>
      <div class="hover-skills">
        <div class="competence-title">
          SITES WEB
        </div>
        <div class="text">
          Inwild, Capture, Dratel & le Musée de la gourmandise
        </div>
      </div>
    </div>
    <div class="img-menudemi">
      <a href="/travaux/application.html/" class="img-menudemi"></a>
      <img alt="img-menu" src="Images/Pages de garde/application.jpg">
      <div class="white-bg"></div>
      <div class="hover-skills">
        <div class="competence-title">
          APPLICATION
        </div>
        <div class="text">
          Capture
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-8">
    <div class="img-menutiers">
      <a href="https://quizzical-nightingale-b726ec.netlify.com/travaux/album.html"><img alt="img-menu" src="Images/Pages de garde/album.jpg"></a>
      <div class="white-bg"></div>
      <div class="hover-skills">
        <div class="competence-title">
          ALBUM
        </div>
        <div class="text">
          Rhyle
        </div>
      </div>
    </div>
    <div class="img-menutiers">
      <a href="https://quizzical-nightingale-b726ec.netlify.com/travaux/affiche.html"><img alt="img-menu" src="Images/Pages de garde/affiche.jpg"></a>
      <div class="white-bg"></div>
      <div class="hover-skills">
        <div class="competence-title">
          AFFICHE
        </div>
        <div class="text">
          Dour 28e Édition & Capture
        </div>
      </div>
    </div>
    <div class="img-menutiers">
      <a href="http://127.0.0.1:4000/travaux/vetement.html"><img alt="img-menu" src="Images/Pages de garde/vetement.jpg"></a>
      <div class="white-bg"></div>
      <div class="hover-skills">
        <div class="competence-title">
          VÊTEMENTS
        </div>
        <div class="text">
          Dour 28e Édition, l’organisme du Scoutisme & un groupe de skieurs
        </div>
      </div>
    </div>
  </div>

  <div class="cell small-8">
    <div class="img-menudemi">
      <a href="https://quizzical-nightingale-b726ec.netlify.com/travaux/game.html"><img alt="img-menu" src="Images/Pages de garde/game.jpg"></a>
      <div class="white-bg"></div>
      <div class="hover-skills">
        <div class="competence-title">
          JEU DE SOCIÉTÉ
        </div>
        <div class="text">
          Ulysse et le chant des sirènes
        </div>
      </div>
    </div>
  </div>

</container>
