<section class="navbar grid-x grid-padding-x align-center">
  <div class="logo-{{include.logo}}">
    <img alt="logo-{{include.logo}}" class="logo-{{include.logo}}" src="/Images/Pictogrammes/logo-{{include.logo}}.png">
  </div>
  <section class="small-8 cells gallery">
    <section class="navbar {{include.navClass}}">
      <div class="elem-nav {{include.navClass}}">
        <a href="http://127.0.0.1:4000/" target="_blank">ACCUEIL</a>
      </div>
      <div class="elem-nav {{include.navClass}}">
        <a href="http://127.0.0.1:4000/" target="_blank">TRAVAUX</a>
      </div>
      <div class="elem-nav {{include.navClass}}">
        <a href="http://127.0.0.1:4000" target="_blank">COMPÉTENCES</a>
      </div>
      <div class="elem-nav {{include.navClass}}">
        <a href="http://127.0.0.1:4000/" target="_blank">À PROPOS DE MOI</a>
      </div>
      <div class="elem-nav {{include.navClass}}">
        <a href="http://127.0.0.1:4000/" target="_blank">CONTACT</a>
      </div>
    </section>
  </section>
</section>
