<div class="navbar {{include.navClass}}">
    <div class="logo-{{include.logo}}">
        <img alt="logo-{{include.logo}}" class="logo-{{include.logo}}" src="/Images/Pictogrammes/logo-{{include.logo}}.png">
    </div>
    <div class="elem-nav">
        <a href="#" target="_blank">ACCUEIL</a>
    </div>
    <div class="elem-nav">
        <a href="#" target="_blank">TRAVAUX</a>
    </div>
    <div class="elem-nav">
        <a href="#" target="_blank">COMPÉTENCES</a>
    </div>
    <div class="elem-nav">
        <a href="#" target="_blank">À PROPOS DE MOI</a>
    </div>
    <div class="elem-nav">
        <a href="#" target="_blank">CONTACT</a>
    </div>
</div>
